<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RDSConnection"
			 connectionString="Server=planningdb.cny02us423oa.eu-north-1.rds.amazonaws.com;Database=PlanningDB;User Id=admin;Password=PLACEHOLDER_PASSWORD;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>